/* src/globals.css */
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* Removed hardcoded #020617 background */
  font-family: ui-sans-serif, system-ui, sans-serif;
}

a {
  text-decoration: none;
}
